<!DOCTYPE html>
<html>
<head>
    <title>My Applications</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <h2>AI Job Portal</h2>

    <div>

        <a href="/">Home</a>
        <a href="/jobs">Jobs</a>
        <a href="/post_job">Post Job</a>

        {% if session.get('user_id') %}
            <span style="color:white;font-weight:bold;margin-left:20px;">
                👋 {{ session['user_name'] }}
            </span>

            <a href="/my_applications">My Applications</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {% endif %}

    </div>
</nav>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash {{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="latest-jobs">

    <h2>My Applications</h2>

    {% if applications %}

        {% for app in applications %}

        <div class="job-card">

            <h3>{{ app.job_title }}</h3>

            <p><strong>Company:</strong> {{ app.company_name }}</p>

            <p>📍 {{ app.location }}</p>

            <p>💰 {{ app.salary }}</p>

            <p><strong>Applied On:</strong> {{ app.applied_at }}</p>

        </div>

        {% endfor %}

    {% else %}

        <p>You haven't applied for any jobs yet.</p>

    {% endif %}

</div>

</body>
</html>